<div class="jumbotron">
  <h1>Workout Lounge!</h1>
  <p>Share your workouts with your friends and family</p>
</div>

<div class="row">
  <div class="col-md-10">
    <h2>List of Members</h2>
  </div>
</div>

<div class="row">
  <% @athletes.each do |athlete| %>
  <div class="col-md-10 well member">
    <%= athlete.full_name %>
  </div>
  <% end %>
</div>